@model QLSQ.ViewModel.Catalogs.NewImage.NewImageUpdateRequest
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Chỉnh sửa ảnh tin tức</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="Edit" enctype="multipart/form-data" method="post" onsubmit="return StopSubmit(event)">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="NewImageID" class="control-label"></label>
                                        <input asp-for="NewImageID" readonly class="form-control" />
                                        <span asp-validation-for="NewImageID" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="NewID" class="control-label"></label>
                                        <input asp-for="NewID" readonly class="form-control" />
                                        <span asp-validation-for="NewID" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="NewName" class="control-label"></label>
                                        <input asp-for="NewName" readonly class="form-control" />
                                        <span asp-validation-for="NewName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ImagePath" class="control-label"></label>
                                        <img id="ImagePath" src="@Configuration["BaseAddress"]/new-image/@Model.ImagePath" width="350" height="350" />
                                        <span asp-validation-for="ImagePath" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DateCreated" class="control-label"></label>
                                        <input asp-for="DateCreated" class="form-control" />
                                        <span asp-validation-for="DateCreated" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="FileSize" class="control-label"></label>
                                        <input id="FileSize" asp-for="FileSize" readonly class="form-control" />
                                        <span asp-validation-for="FileSize" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="FormFile" class="control-label"></label>
                                        <input id="FormFile" type="file" asp-for="FormFile" readonly class="form-control" onchange="readURL(this)" />
                                        <span asp-validation-for="FormFile" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div>
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
@section Autocomplete{
    <script type="text/javascript">  
        function readURL(input) {
            var ext = input.files[0]['name'].substring(input.files[0]['name'].lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    if (confirm("Bạn muốn thay đổi ảnh bằng ảnh vừa chọn?")) {
                        var image = document.getElementById("ImagePath");
                        image.src = e.target.result;
                    }
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                alert("Error");
            }
        }
        $("#FormFile").bind("change", function () {
            $("#FileSize").val(this.files[0].size);
        });
        function StopSubmit(e) {
            if (document.getElementById("FormFile").files.length == 0) {
                alert("Bạn phải chọn ảnh để sửa!");
                e.preventDefault();
                return false;
            }
            return true;
        }
    </script>
}


