@model QLSQ.ViewModel.Catalogs.QLLuong.QLLuongCreateRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Tạo quản lý lương</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tạo User</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="HoTen" class="control-label"></label>
                                        <input id="autocomplete" asp-for="HoTen" class="form-control" />
                                        <span asp-validation-for="HoTen" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IDSQ" class="control-label"></label>
                                        <input asp-for="IDSQ" id="IDSQ" readonly class="form-control" />
                                        <span asp-validation-for="IDSQ" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IDQH" class="control-label"></label>
                                        <input asp-for="IDQH" id="IDQH" readonly class="form-control" />
                                        <span asp-validation-for="IDQH" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="TenQH" class="control-label"></label>
                                        <input asp-for="TenQH" id="TenQH" readonly class="form-control" />
                                        <span asp-validation-for="TenQH" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IDHeSoLuongQH" class="control-label"></label>
                                        <input asp-for="IDHeSoLuongQH" readonly id="IDHeSoLuongQH" class="form-control" />
                                        <span asp-validation-for="IDHeSoLuongQH" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="HeSoLuongQH" class="control-label"></label>
                                        <input asp-for="HeSoLuongQH" readonly id="HeSoLuongQH" class="form-control" />
                                        <span asp-validation-for="HeSoLuongQH" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IDCV" class="control-label"></label>
                                        <input asp-for="IDCV" id="IDCV" readonly class="form-control" />
                                        <span asp-validation-for="IDCV" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="TenCV" class="control-label"></label>
                                        <input asp-for="TenCV" id="TenCV" readonly class="form-control" />
                                        <span asp-validation-for="TenCV" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IDHeSoPhuCapCV" class="control-label"></label>
                                        <input asp-for="IDHeSoPhuCapCV" id="IDHeSoPhuCapCV" readonly class="form-control" />
                                        <span asp-validation-for="IDHeSoPhuCapCV" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="HeSoPhuCapCV" class="control-label"></label>
                                        <input asp-for="HeSoPhuCapCV" id="HeSoPhuCapCV" readonly class="form-control" />
                                        <span asp-validation-for="HeSoPhuCapCV" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IDLuongCB" class="control-label"></label>
                                        <input asp-for="IDLuongCB" id="IDLuongCB" readonly class="form-control" />
                                        <span asp-validation-for="IDLuongCB" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="LuongCB" class="control-label"></label>
                                        <input asp-for="LuongCB" id="LuongCB" readonly class="form-control" />
                                        <span asp-validation-for="LuongCB" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Luong" class="control-label"></label>
                                        <input asp-for="Luong" id="Luong" readonly class="form-control" />
                                        <span asp-validation-for="Luong" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div>
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>



@section Autocomplete{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            $("#autocomplete").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/QLLuong/AutoComplete/',
                        data: { "preconfix": request.term },
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.hoTen, value: item.hoTen, idsq: item.idsq, idqh: item.idqh,
                                    tenQH: item.tenQH, idHeSoLuongQH: item.idHeSoLuongQH, heSoLuongQH: item.heSoLuongQH,
                                    idcv: item.idcv, tenCV: item.tenCV, idHeSoPhuCapCV: item.idHeSoPhuCapCV,
                                    heSoPhuCapCV: item.heSoPhuCapCV, luongCB: item.luongCB, luong: item.luong,
                                    idLuongCB: item.idLuongCB
                                };
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#IDSQ").val(i.item.idsq);
                    $("#IDQH").val(i.item.idqh);
                    $("#TenQH").val(i.item.tenQH);
                    $("#IDHeSoLuongQH").val(i.item.idHeSoLuongQH);
                    $("#HeSoLuongQH").val(i.item.heSoLuongQH);
                    $("#IDCV").val(i.item.idcv);
                    $("#TenCV").val(i.item.tenCV);
                    $("#IDHeSoPhuCapCV").val(i.item.idHeSoPhuCapCV);
                    $("#HeSoPhuCapCV").val(i.item.heSoPhuCapCV);
                    $("#IDLuongCB").val(i.item.idLuongCB);
                    $("#LuongCB").val(i.item.luongCB);
                    $("#Luong").val(i.item.luong);
                    //alert(i.item.idluongCB);
                },
                minLength: 1
            });
        });
    </script>
}





