@model QLSQ.ViewModel.Catalogs.QLQuaTrinhDaoTao.QLQuaTrinhDaoTaoUpdateRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Chỉnh sửa thông tin quá trình đào tạo</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="IDQLQTDT" class="control-label"></label>
                                        <input asp-for="IDQLQTDT" class="form-control" readonly />
                                        <span asp-validation-for="IDQLQTDT" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IDSQ" class="control-label"></label>
                                        <input asp-for="IDSQ" class="form-control" readonly />
                                        <span asp-validation-for="IDSQ" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="HoTen" class="control-label"></label>
                                        <input asp-for="HoTen" class="form-control" readonly />
                                        <span asp-validation-for="HoTen" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="TenTruong" class="control-label"></label>
                                        <input asp-for="TenTruong" class="form-control" required />
                                        <span asp-validation-for="TenTruong" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="NganhHoc" class="control-label"></label>
                                        <input asp-for="NganhHoc" class="form-control"  required/>
                                        <span asp-validation-for="NganhHoc" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ThoiGianBDDT" class="control-label"></label>
                                        <input asp-for="ThoiGianBDDT" id="ThoiGianBDDT" class="form-control" />
                                        <span asp-validation-for="ThoiGianBDDT" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ThoiGianKTDT" class="control-label"></label>
                                        <input asp-for="ThoiGianKTDT" id="ThoiGianKTDT" class="form-control" />
                                        <span asp-validation-for="ThoiGianKTDT" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="HinhThucDT" class="control-label"></label>
                                        <input asp-for="HinhThucDT" class="form-control" required/>
                                        <span asp-validation-for="HinhThucDT" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="VanBang" class="control-label"></label>
                                        <input asp-for="VanBang" class="form-control" required/>
                                        <span asp-validation-for="VanBang" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div>
                            <a asp-action="Index">Back to List</a>
                        </div>


                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
@section Autocomplete{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            var timeBD = $("#ThoiGianBDDT").val();
            var timeKT = $("#ThoiGianKTDT").val();
            $("#ThoiGianBDDT").change(function () {
                var getDateBD = new Date($("#ThoiGianBDDT").val());
                var getDateKT = new Date($("#ThoiGianKTDT").val());

                if (getDateBD > getDateKT) {
                    setTimeout(function () {
                        alert("Ngày bắt đầu phải nhỏ hơn ngày kết thúc");
                        $("#ThoiGianBDDT").val(timeBD);
                    }, 500);
                }
            });
            $("#ThoiGianKTDT").change(function () {
                var getDateBD = new Date($("#ThoiGianBDDT").val());
                var getDateKT = new Date($("#ThoiGianKTDT").val());
                if (getDateKT < getDateBD) {
                    setTimeout(function () {
                        alert("Ngày kết thúc phải lớn hơn ngày bắt đầu");
                        $("#ThoiGianKTDT").val(timeKT);
                    }, 500);
                }
            });
        });
    </script>
}


