@model QLSQ.ViewModel.Catalogs.HeSoLuongTheoQuanHam.HeSoLuongTheoQuanHamUpdateRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Chỉnh sửa thông tin hệ số lương</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">


                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="Edit" onsubmit="return CheckNameBeforeSubmit(event)">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="IDHeSoLuongQH" class="control-label"></label>
                                        <input asp-for="IDHeSoLuongQH" class="form-control" readonly />
                                        <span asp-validation-for="IDHeSoLuongQH" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IDQH" class="control-label"></label>
                                        <input asp-for="IDQH" class="form-control" readonly />
                                        <span asp-validation-for="IDQH" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="TenQH" class="control-label"></label>
                                        <input asp-for="TenQH" class="form-control" readonly />
                                        <span asp-validation-for="TenQH" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="TenHeSoLuongQH" class="control-label"></label>
                                        <input asp-for="TenHeSoLuongQH" id="TenHeSoLuongQH" class="form-control" />
                                        <input type="button" id="CheckName" class="btn btn-primary" value="Kiểm tra tên"/>
                                        <span asp-validation-for="TenHeSoLuongQH" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="HeSoLuong" class="control-label"></label>
                                        <input asp-for="HeSoLuong" class="form-control" />
                                        <span asp-validation-for="HeSoLuong" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div>
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
@section Script{
    <script type="text/javascript">
        var CheckHSLName = false;
        $("#CheckName").click(function () {
            $(function () {
                $(document).ready(function CheckName() {
                    $.ajax({
                        url: '/HeSoLuongTheoQuanHam/CheckNameHeSoLuongInCreate',
                        data: { "name": $("#TenHeSoLuongQH").val() },
                        type: 'POST',
                        dataType: 'Json',
                        success: function (data) {
                            CheckHSLName = false;
                            alert("Trùng tên");
                        },
                        error: function (data) {
                            CheckHSLName = true;
                            alert("Không trùng tên!");
                        },
                        failure: function (data) {
                            CheckHSLName = true;
                            alert("Không trùng tên!!!");
                        }
                    });

                })
            });
        });
        function CheckNameBeforeSubmit(e) {
            if (CheckHSLName == false) {
                alert("Bạn phải kiểm tra tên hợp lệ không trùng trước khi sửa");
                e.preventDefault();
                return false;
            }
        }
    </script>
}




