@model QLSQ.ViewModel.Catalogs.QLDangVien.QLDangVienUpdateRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0 text-dark">Chỉnh sửa thông tin đảng viên</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with minimal features & hover style</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <form asp-action="Edit">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="IDQLDV" class="control-label"></label>
                                            <input asp-for="IDQLDV" class="form-control" readonly  />
                                            <span asp-validation-for="IDQLDV" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="IDSQ" class="control-label"></label>
                                            <input asp-for="IDSQ" class="form-control" readonly />
                                            <span asp-validation-for="IDSQ" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="HoTen" class="control-label"></label>
                                            <input asp-for="HoTen" class="form-control" readonly />
                                            <span asp-validation-for="HoTen" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="NgayVaoDang" class="control-label"></label>
                                            <input asp-for="NgayVaoDang" class="form-control" />
                                            <span asp-validation-for="NgayVaoDang" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="NoiVaoDang" class="control-label"></label>
                                            <input asp-for="NoiVaoDang" class="form-control" />
                                            <span asp-validation-for="NoiVaoDang" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div>
                                <a asp-action="Index">Back to List</a>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
